<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_blur_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,128},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,128},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,128},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,128},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,128},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,128},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,44},{124,128}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
            <key>symbol_blur_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{204,160}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol_blur.png</string>
            <key>size</key>
            <string>{1114,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09f9184edae7db0e13e5e8e7356b7a9f$</string>
            <key>textureFileName</key>
            <string>symbol_blur.png</string>
        </dict>
    </dict>
</plist>
