<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>symbol_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,774},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,648},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,522},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,396},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,270},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,144},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{124,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,108}}</string>
                <key>sourceSize</key>
                <string>{124,108}</string>
            </dict>
            <key>symbol_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,38},{206,140}}</string>
                <key>sourceSize</key>
                <string>{248,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{238,914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28c591b788a3784a73d90cb4f8484a4f$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
